<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="header">Анализатор страниц</section>
<section layout:fragment="content">
    <div class="container-fluid bg-light p-5">
        <div class="row">
            <p class="lead">Проверьте сайт на SEO пригодность</p>
            <form action="/urls" method="post" class="rss-form text-body">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <input id="url-input" autofocus type="text" required name="url" aria-label="url"
                                   class="form-control w-100" placeholder="ссылка RSS" autocomplete="off">
                            <label for="url-input">Ссылка</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="h-100 btn btn-lg btn-primary px-sm-5">Проверить</button>
                    </div>
                </div>
            </form>
            <p class="mt-2 mb-0 text-muted">Пример: https://www.example.com</p>
        </div>
    </div>
</section>
</html>
