<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="header">
    <p th:text="${url.name}"></p>
</section>

<section layout:fragment="content">
    <div class="container-lg mt-5">
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${url.id}"></td>
                <td th:text="${url.name}"></td>
                <td th:text="${#temporals.format(url.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container-lg mt-5">
        <h2 class="mt-5">Проверки</h2>
        <form method="post" action="/urls/1/checks">
            <button type="submit" class="btn btn-primary">Запустить проверку</button>
        </form>
        <table class="table table-bordered table-hover mt-3">
            <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>title</th>
                <th>h1</th>
                <th>description</th>
                <th>Дата проверки</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="check : ${url.urlChecks}">
                <td th:text="${check.id}"></td>
                <td th:text="${check.statusCode}"></td>
                <td th:text="${check.title}"></td>
                <td th:text="${check.h1}"></td>
                <td th:text="${check.description}"></td>
                <td th:text="${#temporals.format(check.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</html>
