<!DOCTYPE html>
<html lang="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<section layout:fragment="header">Сайты</section>
<section layout:fragment="content">
    <div class="container-fluid bg-light p-5">
        <div class="row">
            <table class="table table-bordered table-hover mt-3">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Последняя проверка</th>
                    <th>Код ответа</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="url : ${urls}" th:object="${url}" th:with="urlCheck=${urlChecks[url.id]}">
                    <td th:text="${url.id}"></td>
                    <td>
                        <a th:text="${url.name}" th:href="@{/urls/{id}(id=${url.id})}"></a>
                    </td>
                    <td th:text="${urlCheck ? #temporals.format(urlCheck.createdAt, 'dd-MM-yyyy HH:mm') : ''}"></td>
                    <td th:text="${urlCheck ? urlCheck.statusCode : ''}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</html>
